<nav class="navbar">
    <div class="navbar-left">
      <a href="#">
        {{ $logo := resources.Get "/images/logo.svg" }}
        {{ $rocket_only := resources.Get "/images/rocket_only.svg" }}
        <picture>
          <source srcset="{{ $rocket_only.RelPermalink }}" media="(max-width: 768px)">
          <source srcset="{{ $logo.RelPermalink }}">
          <img src="{{ $logo.RelPermalink }}" alt="CSX Labs Logo" class="navbar-logo">
        </picture>
      </a>
    </div>
    <div class="navbar-center">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="navbar-link">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
        </a>
        {{ end }}
    </div>
    <div class="navbar-right">
      <a href="https://goto.csxlabs.org/chat" class="outlined-button">Chat</a>
    </div>
</nav>