{{ define "main" }}
<div class="section hero">
    <div class="hero-left">
        <h1 class="hero-tagline">Welcome to CSX Labs!</h1>
        <!-- "&#8209;" is a non-breaking hyphen ("-" character). Reference: https://en.wikipedia.org/wiki/Wikipedia:Non-breaking_hyphen -->
        <div class="hero-buttons">
            <a href="https://goto.csxlabs.org/plan" target="_blank" class="filled-button hero-button">
                <span class="material-symbols-outlined hero-button-icon">description</span>
                <span class="hero-button-text">Business Plan</span>
            </a>
            <a href="https://goto.csxlabs.org/okrs" target="_blank" class="filled-button hero-button">
                <span class="material-symbols-outlined hero-button-icon">assignment</span>
                <span class="hero-button-text">Organizational Level OKRs</span>
            </a>
            <a href="https://goto.csxlabs.org/onboarding" target="_blank" class="filled-button hero-button">
                <span class="material-symbols-outlined hero-button-icon">how_to_reg</span>
                <span class="hero-button-text">Onboarding</span>
            </a>
            <a href="https://github.com/CSXL" target="_blank" class="filled-button hero-button">
                <span class="material-symbols-outlined hero-button-icon">conversion_path</span>
                <span class="hero-button-text">GitHub</span>
            </a>
            <a href="https://goto.csxlabs.org/chat" target="_blank" class="filled-button hero-button">
                <span class="material-symbols-outlined restricted-resource-icon">lock</span>
                <span class="material-symbols-outlined hero-button-icon">chat</span>
                <span class="hero-button-text">Corporate Chat</span>
            </a>
            <a href="https://goto.csxlabs.org/team" target="_blank" class="filled-button hero-button">
                <span class="material-symbols-outlined restricted-resource-icon">lock</span>
                <span class="material-symbols-outlined hero-button-icon">group</span>
                <span class="hero-button-text">Team Directory</span>
            </a>
        </div>
    </div>
    <div class="hero-right">
        {{ $abstractLaptop := resources.Get "/images/abstract-laptop.webp" }}
        <img src="{{ $abstractLaptop.RelPermalink }}" alt="Demonstrating illustration." class="hero-image">
    </div>
</div>
{{ end }}